<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="utf-8" />
    <title>MAGIC LAMP</title>
  </head>
  <body>
    <!--DUMB HACK BUT WILL DO THE WORK-->
    <div id="session" token="{{session.token}}"></div>
    <!---->
    <script src="/jquery.min.js"></script>
    <script src="/base64.js"></script>
    <script src="/app.token.js"></script>

  </body>
</html>