html {
    overflow-y: hidden;
    scrollbar-face-color: #2F2C27;
    scrollbar-arrow-color: #DFA83C;
    scrollbar-track-color: #1A1815;
    scrollbar-highlight-color: #2F2C27;
    scrollbar-shadow-color: #2F2C27;
    scrollbar-3dlight-color: #2F2C27;
    scrollbar-darkshadow-color: #2F2C27;
}

html,
body {
    max-height: 569px;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    cursor: url("/images/cursor.cur"), auto;
}

a:link {
    color: #CCC1A3;
    text-decoration: none;
}

a:visited {
    color: #CCC1A3;
    text-decoration: none;
}

a:hover {
    color: #CCC1A3;
    text-decoration: underline;
    cursor: url("/images/cursor-hover.cur"), auto !important;
}

a:active {
    color: #CCC1A3;
    text-decoration: none;
}

#session {
    display: none;
}

body {
    background: #000;
    overflow: hidden;
}

.main {
    width: 800px;
    height: 569px;
    background-image: url("/images/win_bg.jpg");
    margin: 0 auto;
}

.navbar {
    background: url("/images/header_bg.jpg");
    height: 40px;
}

.navbar .header {
    width: 189px;
    height: 48px;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
    color: #E8CF9A;
    display: inline-block;
}

.navbar .sections {
    width: 596px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.sections .button {
    height: 34px;
    background: url("/images/gnb_item_bg.gif") no-repeat;
    background-position: top center;
    width: 150px;
    text-align: center;
    color: #DAC68D;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
    width: 150px;
    margin-left: -1px;
    float: left;
    cursor: url("/images/cursor-hover.cur"), auto !important;
}

.sections .button div {
    padding-top: 8px;
}

.sections .button.active,
.sections .button:hover {
    background-position: bottom center;
}

.bot-refresh-container {
    text-align: center;
    width: 800px;
    position: absolute;
    z-index: 999;
    bottom: 0;
    padding-bottom: 2px;
}

#refresh:active,
#refresh:visited,
#refresh {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #201D19;
    border: none;
    color: #71684F;
    font-size: 10px;
    cursor: url("/images/cursor-hover.cur"), auto;
    box-shadow: inset 0 0 8px #000;
    opacity: .8;
}

.aside {
    margin-top: 11px;
    margin-left: 10px;
    width: 175px;
    height: 505px;
    display: inline-block;
}

.aside .box {
    border: 1px solid #71684F;
}

.aside .box .title {
    border-bottom: 1px solid #7B715F;
    background-color: #6B6251;
    color: #D6CCBA;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.aside .box .body {
    padding: 8px 0 2px;
    border-bottom: 1px solid #3C3730;
    background-color: #322D28;
}

.aside .box .values {
    font-size: 12px;
    padding: 3px 5px;
}

.aside .box .footer {
    background-color: #2B2622;
    text-align: center;
    padding: 5px 0 5px 5px;
}

.aside .box .values div {
    display: inline-block;
}

.aside .box .values div.label {
    width: 95px;
    text-align: right;
    font-weight: bold;
    color: #CCC1A3;
}

.aside .box .values div.value {
    color: #CCC1A3;
}


.aside .box .values img {
    position: relative;
    top: 2px;
}

.charge-button {
    display: block;
    min-height: 22px;
    background: url('/images/buyitemguide_btn_bg.gif') no-repeat center center;
    color: #292520;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
}

.charge-button:hover {
    text-decoration: none;
    opacity: .8;
    color: #fcfcfc;
    cursor: url("/images/cursor-hover.cur"), auto !important;
}


.content {
    width: 596px;
    height: 506px;
    top: 40px;
    vertical-align: top;
    color: #fff;
    display: inline-block;
    margin-left: 5px;
}

div[data-view] {
    display: none;
}

.tabs {
    width: 100%;
    margin-top: 10px;
    z-index: 999;
}

.tab {
    border-top: 1px solid transparent;
    display: inline-block;
    padding: 6px 10px 6px;
    font-size: 12px;
    padding-bottom: 10px;
    color: #8C7C63;
}

.tab:hover {
    color: #FFEBD1;
    cursor: url("/images/cursor-hover.cur"), auto !important;
}


.tab:not(:first-child) {
    background: url('/images/category_sepr.gif') no-repeat -14px 9px;
}

.tab.active {
    border-top: 1px solid #71684F;
    border-right: 1px solid #71684F;
    border-left: 1px solid #71684F;
    background: #201D19;
    color: #FFEBD1;
    margin-right: -1px;
}

.alert {
    margin-bottom: 10px;
    border: 1px solid #2A2722;
    padding: 10px;
    margin-right: 12px;
}

.alert img {
    width: 30px;
    height: 30px;
}

.categories {
    margin-top: -5px;
    /* hacks */
    height: 460px;
    color: #71684F;
    white-space: pre-wrap;
    overflow: auto;
    background: #201D19;
    border: 1px solid #71684F;
}

.categories-wrap {
    height: auto;
    padding: 17px;
    padding-left: 25px;
}

.categories .header {
    padding: 5px 10px;
    background: url("/images/content_tit_bg.gif") no-repeat left center;
    height: 17px;
    padding-left: 28px;
    margin-left: -2px;
    margin-right: 7px;
    font-size: 12px;
    color: #C8BCA5;
    font-weight: bold;
    margin-bottom: 10px;
}

.categories .header.active {
    color: #201D19;
}

.title-container {
    display: table-row;
}

.categories .items {
    vertical-align: top;
    margin-right: -8px;
}

.categories .item {
    display: inline-block;
    vertical-align: top;
    width: 143px;
    min-height: 115px;
    margin: 0 16px 14px 0;
    border: 1px solid #2A2722;
    padding: 10px;
}

.categories .item:hover {
    border: 1px solid #71684F;
}


.categories .item:hover .title {
    color: #CCC1A3;
}

.categories .items .title,
.categories .items img {
    vertical-align: top;
    display: inline-block;
    vertical-align: middle;
}

.categories .items .title {
    font-size: 11px;
    max-width: 84px;
    margin-left: 6px;
    max-height: 40px;
    line-break: anywhere;
}

.categories .items .price-container {
    margin-top: 10px;
    border-top: 1px dotted #71684F;
    padding-top: 10px;
}

.items .price-container .price {
    font-weight: bold;
    background: url("/images/item_img/silk.gif") no-repeat;
    padding-left: 20px;
    font-size: 12px;
}

.items .buttons-container {
    margin-top: 10px;
}

.items .buttons-container .purchase {
    vertical-align: top;
    display: inline-block;
    height: 18px;
    margin: 0;
    padding-left: 4px;
    border: 0;
    background: #BE8935 url('/images/btn_ga_bg.gif') no-repeat;
    color: #2B2011;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    width: 120px;
    margin-right: 3px;
}


.items .buttons-container .addToCart {
    vertical-align: top;
    display: inline-block;
    height: 18px;
    margin: 0;
    background: #BE8935 url('/images/item_img/btn_presel.gif') no-repeat;
    width: 18px;
    border: none;
    line-height: 19px;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
}

.items .buttons-container .addToCart,
.items .buttons-container .purchase:hover {
    opacity: .6;
    color: #FFEBD1;
    cursor: url("/images/cursor-hover.cur"), auto !important;
}


.tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px solid #71684F;
    background: #201D19;
    color: #CCC1A3;
    font-size: 10px;
    max-width: 180px;
}

.tooltip h3 {
    color: #E8CF9A;
}

.tooltip b {
    margin-top: 5px;
    margin-bottom: 3px;
    color: #BE8935;
}
.tooltip span {
    color: #E8CF9A;
}