<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="utf-8" />
    <title>WEBMALL</title>
    <link rel="stylesheet" href="/mall.css" />
  </head>
  <body>
    <!--DUMB HACK BUT WILL DO THE WORK-->
    <div id="session" token="{{session.token}}"></div>
    <!---->

    <div class="main">
      <div class="navbar">
        <div class="header">Welcome, <b>{{session.StrUserID}}</b> {{session.loc}}</div>

        <div class="sections">
          <div class="button active" data-link="suggested">
            <div>All Items</div>
          </div>
          <div class="button p-150" data-link="all">
            <div>Search Items</div>
          </div>
          <div class="button p-300" data-link="reserved">
            <div>Reserved</div>
          </div>
          <div class="button p-450" data-link="history">
            <div>History</div>
          </div>
        </div>

      </div>

      <div class="wrapper">
        <div class="aside">
          <div class="box">

            <div class="title">Account Balance</div>

            <div class="body" id="wallet">
              <div class="values">
                <div class="label">Premium Silk:</div>
                <div class="value"><img src="/images/item_img/silk_premium.gif" /> {{session.wallet.silk_own_premium}}</div>
              </div>
              <div class="values">
                <div class="label">Points:</div>
                <div class="value"><img src="/images/item_img/silk_premium.gif" /> {{session.wallet.silk_point}}</div>
              </div>
              <div class="values">
                <div class="label">Gift Silk:</div>
                <div class="value"><img src="/images/item_img/silk_premium.gif" /> {{session.wallet.silk_gift}}</div>
              </div>
              <div class="values">
                <div class="label">Premium Gift:</div>
                <div class="value"><img src="/images/item_img/silk_premium.gif" /> {{session.wallet.silk_gift_premium}}</div>
              </div>
              <div class="values">
                <div class="label">Silk:</div>
                <div class="value"><img src="/images/item_img/silk.gif" /> {{session.wallet.silk_own}}</div>
              </div>
            </div>
            <div class="footer">
              <a href="#" class="charge-button">CHARGE SILK</a>
            </div>

          </div>
        </div>

        <!--PLACEHOLDER FOR PAGES-->
        <div class="content">
          <div data-view="suggested"></div>
          <div data-view="all"></div>
          <div data-view="reserved"></div>
          <div data-view="history"></div>
        </div>

      </div>
      <div class="bot-refresh-container">
        <button id="refresh">RELOAD PAGE</button>
      </div>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/base64.js"></script>
    <script src="/app.token.js"></script>
    <script src="/webmall.components.js"></script>
    <script src="/webmall.view.js"></script>
    <script src="/webmall.js"></script>
  </body>
</html>