<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="utf-8" />
    <title>404</title>
    <link rel="stylesheet" href="/404.css" />
  </head>
  <body> 
    <div class="emoji-wrap">
      <div class="emoji-wrap_4"></div>
      <div class="emoji-wrap_0"></div>
      <div class="emoji-wrap_4"></div>
    </div>
    <script src="/404.js"></script>
  </body>
</html>